{% extends "inventory/base.html" %}

{% block page_specific_styles %}
  <style>
    .about-spacer {
      padding-bottom: 5vh;
    }
  </style>
{% endblock %}

{% block title %}{% block navtitle %}
	privacy_url
{% endblock %}{% endblock %}


{% block content %}

<div>
    <h1 class="text-black parallax-text">Privacy Policy</h1>
</div>

    <div class="container" style="padding-top: 5vh;">
        <br />
        <p> </p>
        <h2>Accessing user data</h2>
        <p>
            FlpInventory.com (is the  is using the Google Drive API to make it easier to store files on Google Drive.
FlpInventory uses an external API, pydrive (https://pythonhosted.org/PyDrive/) uses Google Drive authentication. Fosterlove is a single client based website for a non-profit organization in Pittsburgh, Pennsylvania that focuses on providing clothing, and other support systems to Fosterkids across the  Pittsburgh region. 
Your use of Google APIs with FlpInventory is subject to each API’s respective terms of service. See Google APIs Terms of Service.
        </p>
        <h2>Accessing user data</h2>
        <p>
            FlpInventory accesses Google resources from the machine where you use FlpInventory. Your machine communicates directly with the Google APIs.
The FLPInventory Application never receives your data or the permission to access your data. The owners of the project can only see anonymized, secure data that belongs to the client only. The website does not collect, or locally store any data on any unauthorized machine. 
FLPInventory sends users to https://flpinventory.com/ for authorization and does not directly access or collect user data. 
        </p>

        <h2>Using user data</h2>
        <p>
            FLPInventory includes functions that you can execute in order to read or modify your own data (or data shared with you). This can only happen after the google authentication process (Google OAuth), which requires that you authenticate yourself as a specific user prior to accessing the google drive functionality on the flpinventory application. 
            FlpInventory can help you get a token by guiding you through the OAuth flow in the browser. There is no instance where the FLPInventory will automatically manipulate data or have an automated workflow. The user has full control of the data and the OAuth content screen shows which user is logged into the account. There is only 1 set email that is authorized for the google drive (flpinventory.com) The OAuth consent screen will describe the scope of what is being authorized e.g. it will name the target API(s) and whether you are authorizing “read only” or “read and write” access.
            There are two ways to use FLPInventory with Google Drive without authorizing the FLPInventory Application: bring your own service account token or configure the package to use an OAuth client of your choice.
        </p>
        <h2>Scopes</h2>
        <p>
            flpinventory.gmail.com scope (view your email address) are required to be used by Google Auth.
            FLPInventory allows you to manage the single client (flpinventory.gmail.com) drive functionality including drive (read/write access to your Google Drive). There is only one client working for the application at the moment which is the flpinventory@gmail.com.
        </p>
        <h2>Sharing User Data</h2>
        <p>
            FLPInventory only communicates with Google APIs. No user data is shared with the owners of the FLPInventory or any other party.
        </p>
        <h2>Storing User Data</h2> 
        <p>
            Dont store any user data
        </p>
        <h2>Usage in other packages or Applications</h2>
        <p>
            Do not use an API key or client ID from the FLPInventory Application in an external package or tool. Per the Google User Data Policy, your application must accurately represent itself when authenticating to Google API services.
        </p>
        <h2>Acknowledgements</h2>
        <p>
            Do not use an API key or client ID from the FLPInventory Application in an external package or tool. Per the Google User Data Policy, your application must accurately represent itself when authenticating to Google API services.
        </p>
        
        <div class="about-spacer"></div>
    </div>
{% endblock %}