{% extends "inventory/base.html" %}

{% block page_specific_styles %}
  <style>
    .about-spacer {
      padding-bottom: 5vh;
    }
  </style>
{% endblock %}

{% block title %}{% block navtitle %}
	privacy_url
{% endblock %}{% endblock %}


{% block content %}

    <div>
        <h1 class="text-white parallax-text">WHO WE ARE</h1>
    </div>

    <div class="container" style="padding-top: 5vh;">
        <h2>Privacy Policy</h2>
        <br />
        <p> </p>
        <h2>Accessing user data</h2>
        <p>
            FlpInventory.com (is the  is using the Google Drive API to make it easier to store files on Google Drive.
FlpInventory uses an external API, pydrive (https://pythonhosted.org/PyDrive/) uses Google Drive authentication. Fosterlove is a single client based website for a non-profit organization in Pittsburgh, Pennsylvania that focuses on providing clothing, and other support systems to Fosterkids across the  Pittsburgh region. 
Your use of Google APIs with FlpInventory is subject to each API’s respective terms of service. See Google APIs Terms of Service.
        </p>
        <h2>Accessing user data</h2>
        <p>
            
        </p>
        <h2>Privacy Policy</h2>
        <h2>Privacy Policy</h2>
        <h2>Privacy Policy</h2>
        <h2>Privacy Policy</h2>
        <h2>Privacy Policy</h2>
        <h2>Privacy Policy</h2>

        <p>
            Managing Data
        </p>
        <p>
            
        </p>
        
        <div class="about-spacer"></div>
    </div>
{% endblock %}